.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 90px;
    height: 90px;

    &-link {
      width: 100%;
      height: 100%;
    }
  }

  &__navbar {
    &-item {
      display: inline-block;
      margin: 0 15px;

      &,
      &__link {
        font-size: 1.2rem;
      }
    }
  }
}
